@page "/users"
@rendermode InteractiveServer

@using DataLibrary
@using BoardGamesWebsiteWithAuthorization.Models;
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config

<PageTitle>Users</PageTitle>

<h3>Users</h3>


@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var u in users)
    {
        <p>
            @u.UserName
        </p>
    }
}

@code {
    List<UserModel> users;

    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from aspnetusers";
        users = await _data.LoadData<UserModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }
}
